.container {
  width: 500px;
  max-width: 85%;
  height: 560px;
  max-height: 85%;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}
.square {
  width: 500px;
  max-width: 100%;
  padding-bottom: 100%;
  max-height: 100%;
  background-color: #2196F3;
}
.hidden {
  opacity: 0;
}
#content {
  position: absolute;
  margin-top: -65%;
  margin-left: 16px;
  margin-right: 16px;
  text-align: center;
  font-size: 1.3em;
  color: white;
  -webkit-transition: opacity 1s linear;
}

.text {
  margin-top: 16px;
}
body {
  font-family: 'Roboto';
  font-size: 36px;
}
input[type=text] {
    width: 100%;
    font-size: 1em;
    text-align: center;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    outline: none;
    background-color: #fff;
    border: 3px solid #fff;
}
input[type=text]:focus {
    border: 3px solid #555;
}
.button {
    background-color: #fff;
    font-size: 0.8em;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 2px;
}
